{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block principal %}
    <h1>Edit Producto</h1>
    {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
