{% extends 'base.html.twig' %}

{% block title %}Modify Users{% endblock %}

{% block principal %}
    <h1>Modify Users</h1>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.roles| join(', ') }}</td>
                {% if usuario.id != app.user.id %}
                <td><a class="btn btn-success" href="{{ path('app_modify_users_rol', {'id': usuario.id}) }}">Cambiar rol</a>
                <a class="btn btn-danger" href="{{ path('app_modify_users_delete', {'id': usuario.id}) }}">Borrar usuario</a></td>
                {% endif %}
            </tr>
                {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}